html, body {
    overflow-x: hidden;
}
#barra-governo-wrap {
    background: none repeat scroll 0 0 #004b82;
    clear: both;
    height: 29px;
    margin-left: -50%;
    min-width: 1000px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1000%;
    z-index: 999;
}
#barra-governo-wrap .wrap {
    background: url("images/barra-brasil-v3-bgx.gif") repeat-x scroll 0 bottom transparent;
    display: block;
    height: 29px;
    left: 0;
    position: absolute;
    width: 14%;
}
#barra-governo {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    height: 29px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1000;
}
#barra-governo .centro {
    background: url("images/barra-brasil-v3-azul.gif") no-repeat scroll right top transparent;
    height: 24px;
    left: 0;
    margin-left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
}
#barra-governo .centro .logoBrasil {
    display: block;
    float: right;
    height: 23px;
    width: 100px;
}
.section-galeriadearte #portal-siteactions, .section-galeriadearte .divbgAzul {
    display: none !important;
}
.section-galeriadearte #barra-governo-wrap {
    background: none repeat scroll 0 0 #000000 !important;
}
.section-galeriadearte #barra-governo-wrap .wrap {
}
.section-galeriadearte #barra-governo {
    background: none repeat scroll 0 0 #000000;
}
.section-galeriadearte #barra-governo .centro {
    background: url("images/barra-brasil-v3-preto.html") no-repeat scroll right top transparent;
}
.section-brasil-agora #barra-governo-wrap {
    background: none repeat scroll 0 0 #004B82 !important;
}
.section-brasil-agora #barra-governo-wrap .wrap {
}
.section-brasil-agora #barra-governo {
    background: none repeat scroll 0 0 #004B82 !important;
}
.section-brasil-agora #barra-governo .centro {
    background: url("images/barra-brasil-v3-azul.gif") no-repeat scroll right top transparent;
}
body.section-consumo-consciente.template-contentpanels_view #portal-header {
    margin: 49px 0 0 !important;
    overflow: visible !important;
}
.section-consumo-consciente .divHeaderBrasil, .section-galeriadearte .divHeaderBrasil, .section-brasil-agora .divHeaderBrasil {
    background: none repeat scroll 0 0 transparent !important;
    display: none !important;
}
.section-consumo-consciente .divHeaderBrasil ul {
    display: none !important;
}
.section-consumo-consciente #barra-governo-wrap {
}
.section-consumo-consciente #barra-governo-wrap .wrap {
}