
body { margin-top:0; }

#header {
background: #FFF; width:100%; height:77px; overflow-y:hidden; border-top:#cccccc solid 4px; position:relative; border-bottom: 1px solid #CCCCCC; }

#header #header-conteudo { width:100%; height:76px; position:relative; top:0; z-index:2 }

#header #header-col-right { vertical-align:top; width:600px; height:76px; }

#header #header-swf { position:relative; z-index:1; top:-76px; }

#header #header-swf_2 { background-image: url("images/ceu_otempotodocomvoce.png"); background-position: center -18px; background-repeat: repeat-x; border-bottom: 1px solid #CCCCCC; height: 75px; position: relative; text-align: left; top: -76px; width: 100%; z-index: 1; }

#inmetro-logo { position:absolute; top:38px; left:24px; z-index:3; }

#whitebg { background: url("images/whitebg.png") repeat scroll 0 0 transparent; height:72px; height:76px; left: 10px; position: absolute; top: 33px; width: 110px; z-index: 2; }

#header #inmetro-menu { width:780px; height:30px; position:relative; z-index:2; }

#header #inmetro-menu ul { margin:0; padding:0; list-style:none; }

#header #inmetro-menu ul li { float:right; margin-left:-15px; }

#header #inmetro-menu ul li a { display:block; position:relative; width:135px; height:20px; background:url(images/menu-bg-off.png) no-repeat left top; font-family:Tahoma, Geneva, sans-serif; font-size:11px; color:#000; text-decoration:none; text-align:center; }

#header #inmetro-menu ul li a:hover { position:relative; z-index:3; background:url(images/menu-bg-on.png) no-repeat left top; }

#header #inmetro-menu ul li a.ativo { position:relative; z-index:3; background:url(images/menu-bg-on.png) no-repeat left top; }

#header #titulo-pagina { vertical-align:middle; height:66px; padding-bottom:10px; padding-left:100px; font:26px Verdana, Arial; color:#00457C; position:relative; z-index:2; text-align:left; }

#titulo { width:100%; height:22px; margin-top:10px; position:relative; z-index:2; font:bold 12px Arial; color:#127ed2; }

#titulo #texto { height:18px; padding-top:4px; font-size:20px; }

#titulo #subtexto { font-size:14px;  margin-top:20px }

#titulo #login { font-size:13px; }

#titulo-diretita {  }

input#q { background:#159987; }

/* CLASSES */
.clear { clear:both; }

.left { float:left; }

.right { float:right; }
