body {
	margin-top:0;
	margin-left: 0;

	background-color: #ffffff;
	}

a { color:#005B88; }

a:hover { color:#FF6600; }

.menuHP { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none; 
	color: #0072A8; 
	font-weight: bold;
	padding: 4px 0px;
}

.menuHP:hover { 
	color: #0099ff
}

.titulo { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 18px; 
	font-weight: bold; 
	color: #444444; 
	text-decoration: none;
}

.main { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	font-weight: normal;
	color: #444444; 
	text-decoration: none;
	padding: 1%;
}

.msg { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	color: #444444; 
	text-decoration: none;
}

.chamadaHP { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #484848; 
	text-decoration: none; 
	}

.chamadaHP:hover { 
	color: black;
	}

.menuServicosHP { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none; 
	color: #005B88;
	}

.tituloMenuServicosHP { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 14px; 
	text-decoration: none; 
	color: #005B88;
}

.menuServicosHP:hover { 
	color: #FF6600;
	}

.modConteudo { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #333333; 
	text-decoration: none;
	}

.modConteudo:hover { 
	text-decoration: underline; 
	}

.conteudo2nivel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	}

.conteudo2nivel_azul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3583D0;
	}

/*
.conteudo2nivel:hover {
	color:#FF6600;
	font-size: 16px;
	}
*/
ul.semMargem { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin:0; 
	padding-left:0px;
	list-style:none;
}
ul.semMargem li { margin-bottom:10px; } 

ul.comMarcador { list-style-type:disc; }

.boxAviso { width:500px; padding:15px 20px 15px 45px; background:#dfeef5 url(../img/marcador-mao.gif) no-repeat 10px 17px; border:#E2E2E2 solid 1px; }

.boxAviso p { margin:0; }

/* QUEM É QUEM */
.boxDiretor { width:608px; height:auto; border:#dee4f3 solid 1px; margin-bottom:30px; position:relative; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; }

.boxDiretor .titulo { background:#DDE5F4; margin-top:-1px; margin-left:-1px; width:610px; font:bold 14px Verdana, Geneva, sans-serif; color:#0072a8; position:relative; z-index:9; }

.boxDiretor .titulo .topo { width:610px; height:8px; background:url(../inmetro/img/tit-diretor-topo.gif) no-repeat left top; }

.boxDiretor .titulo .rodape { width:610px; height:8px; background:url(../inmetro/img/tit-diretor-rodape.gif) no-repeat left top; }

.boxDiretor .titulo .texto { margin-left:10px; }

.boxDiretor .imagem {
	position:absolute;
	bottom:3px;
	width:130px;
	height:130px;
	margin-left:20px;
	left: 9px;
}

.boxDiretor .conteudo { position:relative; left:160px; margin-top:10px; margin-left:20px; margin-bottom:10px; line-height:20px; }

.boxDiretor .conteudo a { color:#005B88;}

.boxDiretor .conteudo a:hover { color:#FF6600; }

/* FALE CONOSCO */
#faleconosco-enderecos { width:100%; margin-top:0px; }

.cole { float:left; width:250px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; }

.boxCinza { width:210px; height:auto; padding:10px 10px 10px 30px; margin-bottom:15px; background:#f0f0eb url(../img/marcador-seta-cinza-off.gif) no-repeat 5px top; cursor:pointer; }

.boxCinza div { display:none; }

.boxCinza .diretorias { margin-top:10px; color:#005B88 }

span.accordion { color:#005B88; cursor:pointer; }

span.accordion:hover { color:#FF6600; }

.boxCinza .diretorias ul { margin-left:16px; margin-top:5px; padding:0; }

.boxCinza .diretorias ul li { margin-bottom:5px; color:#333; }

.colr { float:left; margin-left:15px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; }

#contatosFaleconosco { width:auto; }

#contatosFaleconosco ul { width:230px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; list-style:none; margin:0; padding-left:10px; }

#contatosFaleconosco ul li { width:230px; margin-bottom:20px; }

#contatosFaleconosco ul li a { color:#005B88; }

#contatosFaleconosco ul li a:hover { color:#FF6600; }

/* FORMULARIO */
table.formulario { 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-top:20px;
}

table.formulario input.txt { padding:0 10px; height:30px; border:#ddd solid 1px; background:#F6F6F6; }

table.formulario textarea.txtarea { padding:10px; width:300px; height:100px; border:#ddd solid 1px; background:#F6F6F6; }

table.formulario input.submit { width:58px; height:30px; background:#004a7b; border:none; color:#fff; font-weight:bold; cursor:pointer; }

table.formulario label { font-weight:bold; }

table.formulario td { padding-bottom:10px; }

/*-----------------------------------------------------------------------*/

/* SELECT PERSONALIZADO */
div.selectLabel { position:absolute; left:2px; top:0px; width:170px; height:22px; padding:0 10px; padding-top:8px; overflow:hidden; z-index:9; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px;	color: #333333; }

.select {
	width:300px;
	height:32px;
	opacity: 0;	 
	filter:alpha (opacity=x);
	cursor:pointer;
}

.select option { height:20px; padding-top:5px; cursor:pointer; }

.select-box {

	position:relative;
	width: 300px; height:30px; border:#ddd solid 1px;
	background:#F6F6F6 url(../img/btn-select2.gif) right center no-repeat;
}

/*---------------------------------------------------------------------------------*/

/* TV INMETRO */
#tv { float:left; margin-left:5px; width:250px; position:relative; text-align:left; font-family:arial; background:#F4F4F4; }

#video-player { width:230px; margin:0 auto; margin-top:10px; }

#videoYT { width:230px; margin-bottom:0px; }

#video-player .titulo { width:230px; color:#dfa41c; font-weight:bold; margin-bottom:10px; font-size:14px; }

#video-player .titulo2 { width:230px; color:#333; font-weight:bold; margin-top:15px; margin-bottom:5px; font-size:12px; }

#video-player ul { width:210px; font-size:12px; margin:0; padding-bottom:10px; padding-left:20px; }

#video-player ul li { margin-bottom:10px; }

/*-------------------------------------------------------------------------*/

.guiaNavegacao {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666; 
	text-decoration: none;
	display:block;
	float:left;
	margin-top:15px;
	}

.guiaNavegacao:hover { 
	color:#FF6600;
	}

.capitular2nivel {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-style: normal; 
	font-weight: bold; 
	color: #0066CC;
	}

.titulo2nivel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3583D0;
	letter-spacing: 1px;
	word-spacing: 1px;
	}

.indice {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	color: #757575; 
	text-decoration: none;
	}

.indice:hover {  
	color: #FF8204;
	}

.indiceAviso {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	color: #FF0000; 
	text-decoration: none;
	}
	
.tabelaTitulo {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	color: #4A4A4A; 
	background-color: #DEE4F3; 
	text-decoration: none;
	}

.tabelaLinha1px {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #666666; 
	border: solid; 
	border-color: black black #CCCCCC; 
	text-decoration: none; 
	border-width: 0px 0px 1px;
	}

#destaque_menu {
	margin-top: 10px;
	margin-right: 6px;
	margin-bottom: 10px;
	margin-left: 7px;
	clear:both;
	}
#destaque_menu th {
	font-size:13px;
	border-bottom:#CCCCCC solid 1px;

	}
#destaque_menu th a {
	text-decoration:none;
	}
#destaque_menu th a:hover {
	color:#FF6600;
	}
	
	#destaque_menu .fundo_info
	{
		background-image:url(../img/modulo/titulo_moduloIP_novo.gif);
			background-position:right;
	        background-repeat:repeat-y;
	}
	
	
	#destaque_menu .fundo_prod
	{
		background-image:url(../img/modulo/titulo_moduloPA_novo.gif);
			background-position:right;
	        background-repeat:repeat-y;
	}
	
	
	#destaque_menu .fundo_prod_serv
	{
		background-image:url(../img/modulo/titulo_servicos_nova.html);
			background-position:right;
	        background-repeat:repeat-y;
	}
	
     #destaque_lista_imagem
	{
		list-style-image: url(../img/modulo/setaLaranja.gif);
		font-size:11px;
		margin-top: 12px;
	    margin-right: 6px;
	    margin-bottom: 12px;
	    margin-left: 0px;
		
	}
	     
		 #destaque_lista_imagem_ul
	{
		padding-left: 22px;
		margin-top: 0px;
	    margin-right: 6px;
	    margin-bottom: 0px;
	    margin-left: 0px;
		
	}
	
	    .webmail_fundo
	{
		background-image: url(../img/banner_webmail_fundo.gif);
		background-position:right;
		background-repeat:repeat
	}
	
h1 {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666; 
	background-color: #eeeeee; 
	border-color: #999999 black; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
	}

h2 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666; 
	background-color: #FFECCE;
	}

.tabelaSubTitulo { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	color: #4A4A4A; 
	background-color: #BDDCE8;
	}

.barradeRolagem {
	scrollbar-arrow-color: white;
	scrollbar-base-color: silver;
	scrollbar-face-color: #82afd0;
	scrollbar-highlight-color: white;
	scrollbar-shadow-color: white;
	}

.fonteBranca { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	font-weight: bold; 
	color: #FFFFFF;
	}

a.icoCDR {
	display:block;
	background-image:url(../img/ico/ico_cdr.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	} 

a.icoJPG {
	display:block;
	background-image:url(../img/ico/ico_jpg.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	margin-bottom:5px;
	} 
a.icoPDF {
	display:block;
	background-image:url(../img/ico/ico_pdf.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	margin-bottom:5px;
	} 

a.icoPDF2 {
	display:block;
	background-image:url(../img/ico/ico_pdf_esp.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 70px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	} 

a.icoDOC2 {
	display:block;
	background-image:url(../img/ico/ico_doc_esp.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 70px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	} 
	
a.icoPDF:hover {
	color: #FF8204;
	} 
	
a.icoJPG:hover {
	color: #FF8204;
	} 

a.icoPDF2:hover {
	color: #FF8204;
	} 
	
a.icoPPT:hover {
	color: #000000;
	} 

a.icoLNK:hover {
	color: #FF8204;
	}
	
a.icoDOC:hover {
	color: #FF8204;
	}

a.icoDOC2:hover {
	color: #000000;
	}

a.icoXLS:hover {
	color: #FF8204;
	}
	
a.icoZIP:hover {
	color: #FF8204;
	}
	
a.icoDOC {
	display:block;
	background-image:url(../img/ico/ico_doc.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	margin-bottom:5px;
	} 

a.icoPPT {
	display:block;
	background-image:url(../img/ico/ico_ppt.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	font-weight: bold;
	margin-bottom:5px;
	} 

a.icoXLS {
	display:block;
	background-image:url(../img/ico/ico_xls.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	vertical-align:bottom;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	margin-bottom:5px;
	} 

a.icoZIP {
	display:block;
	background-image:url(../img/ico/ico_zip.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	vertical-align:bottom;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
	margin-bottom:5px;
	} 

/*
a.icoLNK {
	display:block;
	background-image:url(../img/ico/ico_lnk.gif);
	background-repeat:no-repeat;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height:30px;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	font-weight: bold;
	} 
*/

a.icoLNK {
	display:block;
	background-image:url(../img/ico/ico_lnk.gif);
	background-repeat:no-repeat;
	background-position:3px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	height:auto;
	text-decoration: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	clip: rect(auto,auto,auto,auto);
	padding-right: 0px;
	font-weight: bold;
	margin-bottom:5px;
	}

.borda1px { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #666666;
	border: 1px #CCCCCC solid; 
	text-decoration: none;
	}
	
.borda1pxindice { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	font-weight: bold; 
	color: #757575; 
	border: 1px #CCCCCC solid; 
	text-decoration: none;
	}	
	
.indiceAlfabeto { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
	}
	
.indiceAlfabeto:hover {  
	font-weight: bold;
	color:#FF6600;
	}
		
.legenda1 {
	color: #009966;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	}

.legenda2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	text-decoration: none;
	}
	
.legenda3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF6600;
	font-weight: bold;
	text-decoration: none;
	}

.legenda4 {  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #FF66FF;
	font-weight: bold;
	}

.bordaLateral {  
	border-color: black black black #669999; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	border-left-width: 1px;
	}

.tabela2Linhas { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; color: #336699; 
	border: solid; 
	border-color: #CCCCCC black; 
	text-decoration: none; 
	border-width: 1px 0px;
	}

.link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-left: 40px;
	}

a.icoArquivo {
	background-image:url(../img/ico/ico_arquivo.gif);
	background-repeat:no-repeat;
	background-position:3px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	display: block;
	}

.indiceSGT3 { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: #336699; 
	text-decoration: none;
	}

.indiceSGT3:hover {  
	color: #FF6600;
	}
	
.conteudoListA {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	list-style-type: lower-alpha;
	}

table#menuFeedRodape td { text-align:left; }

.boxNaMedidaPrincipal {
	float:left;
	background-color:#DEE4F3;
	width: 210px;
	height: 355px;
	margin: 0 20px 20px 70px;
	padding:0px 0;
	}

.both {
	clear:both;
	}

.boxTabelaNaMedida {
	width: 440px;
	margin-left:auto;
	margin-right:auto;
	padding:0px;
	margin-bottom:20px;
	}
	
.tabelaNaMedida { 
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #4A4A4A; 
	background-color: #FFFFFF; 
	text-decoration: none;
	}

.boxNaMedidaPrincipal p {
	margin-top:0;
	}

.boxNaMedidaDestaques {
	float:left;
	background-color:#DEE4F3;
	width: 190px;
	height: 345px;
	padding:0 10px;
	padding-top:10px;
	}

.boxNaMedida {
	background-color: #DEE4F3;
	width: 190px;
	height: 105px;
	margin-bottom:10px;
	}

#img_medida {
	margin-right:5px;
	}

.boxNaMedidaDestaques2 {
	background-color:#DEE4F3;
	width:420px;
	height:120px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
	}

* html .boxNaMedidaDestaques2 { /* Hack para IE6 */
	width:440px;
	}

*+html .boxNaMedidaDestaques2 {/* Hack para IE7 */
	width:440px;
	}

.boxNaMedidaDestaques2 { /* Hack para IE8 */
	width:440px;
	}

.fundoCinza {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #E8E6E1;
	}

.fundoAzul {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333;
	background-color:#DEE4F3; 
	}

.tabelaCelulaIpem1 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333; 
	background-color: #BDDCE8;
	}
	
.tabelaTituloIpem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	font-weight:bold;
	background-color: #4BACC6;
}

.tabelaCelulaIpem2 {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333; 
	background-color: #DEE4F3; 
}
	
.QuemEQuemTitulo {  
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight:bold;
	background-color: #DEE4F3;
}

.boxQuemEQuem {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #333333;
	width:98%;
}
	
.fotoQuemEQuemE {  
	float:left;
	width:20%;
}
	
.fotoQuemEQuemD {  
	float:right;
	width:20%;
}

.tituloIpem {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold; color: #4A4A4A;
	background-color: #E6E6E6;
	border: solid;
	border-width: 1px 0px;
	border-color: #666666 #000000
}
	
th.listaInspecao{
	text-align: center;	
}

tr.listaInspecao{
	text-align: left;	
}

.lista_inspecao{
	margin: auto;
}

.inspecao{
	margin: auto;
	vertical-align: top;
}

.marco{
	vertical-align: top;
}

.grupo{
	text-align: center;
}